In [1]:
import pandas as p

In [2]:
d=p.read_excel("Income Tax.xlsx")

In [3]:
d

   Salary
0  100000

In [4]:
x=d.loc[0,"Salary"]

In [5]:
x

100000

In [9]:
x=d.loc[0,"Salary"]
if x<=250000:
    tax=0
    print(tax)

0

In [10]:
d=p.read_excel("Income Tax.xlsx")

In [11]:
d

   Salary
0  100000
1  260000
2  600000

In [21]:
d=p.read_excel("Income Tax.xlsx")
d

    Salary  Age     HRA
0  1000000   85  150000

In [26]:
x=d.loc[0,"Salary"]
y=d.loc[0,"Age"]
z=d.loc[0,"HRA"]
if (x<=250000) and (y<=60):
    tax=0
if (x<=500000 and x>250000) and y<=60:
    tax=10/100*(x)
if (x<=1000000 and x>500000) and y<=60:
    tax=20/100*(x)
if (x>1000000) and (y<=60):
    tax=30/100*(x)
if x<=300000 and (y>60 and y<=80):
    tax=0
if (x<=500000 and x>300000) and (y>60 and y<=80):
    tax=10/100*(x)
if (x<=1000000 and x<500000) and (y>60 and y<=80):
    tax=20/100*(x)
if x >1000000 and (y>60 and y<=80):
    tax=30/100*(x)
if x<=500000 and y>80:
    tax=0
if (x<=1000000 and x>500000) and y>80:
    tax=20/100*(x)
if x>1000000 and (y>80 and y<=100):
    tax=30/100*(x)
if z<10/100*(x):
    a=0
if z > 10/100*(x):
    a=(50/100)*(z-(10/100*(x)))
T=tax+a
print(T)

225000.0