In [31]:
s=int(input("Enter Standard Time:"))
t=int(input("Enter Time Taken:"))
r=int(input("Enter Rate:"))
x = 50/100*((s-t)*r)
Total_earnings = (t*r)+x
print(Total_earnings)

Enter Standard Time: 20
Enter Time Taken: 15
Enter Rate: 600

10500.0

In [11]:
import pandas as c

In [17]:
d=c.read_excel("Payments Sample.xlsx")

In [18]:
d

    Name   t   s    r
0  Colin  15  20  400

In [29]:
T=d.loc[0,"t"]
S=d.loc[0,"s"]
R=d.loc[0,"r"]
x=50/100*((S-T)*R)
Total_Earnings=(T*R)+x
print(Total_Earnings)

7000.0

In [32]:
dp=c.read_excel("Manpower.xlsx")

In [33]:
dp

      P  a  b  c    t  s
0  5000  5  8  6  420  2

In [34]:
p=dp.loc[0,"P"]
A=dp.loc[0,"a"]
B=dp.loc[0,"b"]
C=dp.loc[0,"c"]
T=dp.loc[0,"t"]
S=dp.loc[0,"s"]
x=A+B+C
M=((p*x)/T)/S
print(M)

113.0952380952381

In [35]:
dp=c.read_excel("Manpower X.xlsx")

In [36]:
dp

      P  a  b  c    t  s
0  5000  5  8  6  420  2
1  4044  1  4  3  360  3
2  5655  3  5  2  400  1
3  8600  5  6  1  250  4

In [41]:
dp=c.read_excel("Manpower X.xlsx")
D=0
d=0
for D in dp.index:
    
        p=dp.loc[D,"P"]
        A=dp.loc[D,"a"]
        B=dp.loc[D,"b"]
        C=dp.loc[D,"c"]
        T=dp.loc[D,"t"]
        S=dp.loc[D,"s"]
        x=A+B+C
        M=((p*x)/T)/S
        D=D+d
        d=d+1
        print(M)

113.0952380952381
29.955555555555552
141.375
103.2